.rounded-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        
        &:checked ~ .checkmark {
          background-color: #3b82f6;
          border-color: #3b82f6;
          
          &:after {
            transform: rotate(45deg) scale(1);
            opacity: 1;
          }
        }
    }
      
    .checkmark {
        position: absolute;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: white;
        border: 2px solid #d1d5db;
        border-radius: 50%;
        transition: all 0.2s ease;
        
        &:after {
          content: "";
          position: absolute;
          left: 8px;
          top: 4px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg) scale(0);
          opacity: 0;
          transition: all 0.2s ease;
        }
    }
}