@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #323232;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F9FB;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--accent);
  font-family: "Inter", sans-serif;
}
